*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#64cfc1,#b2bf4d,#69d998);

overflow:hidden;

}

body::before{

content:'';

position:fixed;

width:350px;

height:350px;

border-radius:50%;

background:rgba(255,255,255,.12);

top:-120px;

left:-100px;

filter:blur(20px);

animation:float1 7s infinite alternate;

}

body::after{

content:'';

position:fixed;

width:280px;

height:280px;

border-radius:50%;

background:rgba(179, 77, 77, 0.08);

bottom:-120px;

right:-100px;

filter:blur(20px);

animation:float2 8s infinite alternate;

}

@keyframes float1{

to{

transform:translateY(60px) translateX(50px);

}

}

@keyframes float2{

to{

transform:translateY(-50px) translateX(-70px);

}

}

.app{

display:flex;

justify-content:center;

align-items:center;

width:100vw;

height:100vh;

}

.mobile-container{

width:390px;

height:844px;

background:white;

border-radius:35px;

overflow:hidden;

box-shadow:

0 35px 70px rgba(0,0,0,.35),

0 10px 25px rgba(0,0,0,.15);

position:relative;

}