.input-group{

position:relative;

margin-bottom:22px;

}

.input-group label{

position:absolute;

left:15px;

top:-9px;

padding:0 6px;

background:white;

font-size:13px;

font-weight:600;

color:#010e0c;

}

.input-group input{

width:100%;

height:54px;

padding:16px;

border-radius:12px;

border:2px solid #dfe8e6;

outline:none;

font-size:15px;

transition:.35s;

background:#fbfffd;

}

.input-group input::placeholder{

color:#0d0f14;

}

.input-group input:focus{

border-color:#3dbca8;

box-shadow:0 0 15px rgba(61,188,168,.20);

background:white;

}