.landing{

height:100%;

background:#F7F8F9;

padding:28px;

display:flex;

align-items:flex-end;

}

.landing-bottom{

width:100%;

}

.landing h1{

font-size:31px;

font-weight:700;

line-height:38px;

margin-bottom:14px;

color:#1D2226;

}

.landing p{

font-size:18px;

line-height:28px;

margin-bottom:28px;

color:#7E7E7E;

}