.signup-page{

height:100%;

background:#F7F8F9;

padding:28px;

display:flex;

flex-direction:column;

}

.signup-page h1{

font-size:30px;

font-weight:700;

line-height:38px;

margin-bottom:28px;

color:#1D2226;

}

.agency{

margin-top:5px;

margin-bottom:25px;

}

.agency p{

font-size:14px;

font-weight:500;

margin-bottom:12px;

}

.radio-container{

display:flex;

gap:28px;

}

.radio-container label{

display:flex;

align-items:center;

gap:8px;

font-size:15px;

cursor:pointer;

}

.radio-container input{

accent-color:#5a9f16;

width:18px;

height:18px;

}

.signup-page .btn{

margin-top:auto;

}